npm_modules
npm_modules/*
node_modules
node_modules/*
.env
.env.original

logs/*
logs
log.txt
log.txt
./log.txt

*.txt
modules/accts.js

examples/*
examples
package-lock.json

test-record-production.txt
